# Logs
logs
*.log
npm-debug.log*

# Runtime data
__pycache__
# Ignore compiled Python bytecode
**/__pycache__/
*.pyc

#myDevStuff
models-copy
**/.postgresql

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
env/


# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
backend/env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.venv

# Stores VSCode versions used for testing VSCode extensions
.vscode-test







